.form {
  width: min(90%, 900px);
  display: block;
  margin: 1rem auto;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.uploadLabel {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: #60a3bc;
  padding: 20px;
  border-radius: 50px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

.upload:focus + .uploadLabel,
.upload + .uploadLabel:hover {
  background-color: #71c6e6;
}

.fileToUpload {
  display: block;
  margin-top: 0.4rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.submit {
  margin-top: 1rem;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  background: #60bc96;
  padding: 20px 40px;
  border-radius: 50px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

.submit:hover {
  background: #6ddaac;
}

.imageContainer {
  width: min(100%, 900px);
  margin: 0 auto;
}

.control {
  width: min(100%, 900px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.control > * {
  margin-right: 0.4rem;
}

.opacityValue {
  width: 100%;
  text-align: center;
}

.figure {
  margin: 1rem auto;
  box-sizing: border-box;
}

.image {
  display: block;
  max-width: 300px;
  max-height: 450px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  filter: opacity(var(--opacity));
}

.title {
  text-align: center;
}

.error {
  display: block;
  margin: 1rem;
  color: #e70000;
  font-weight: 500;
}

.saved {
  margin-left: 1rem;
  color: #60bc96;
  font-weight: 500;
}
